/*STYLE TOUTES PAGES : header et footer*/

html {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-items: space-between;
}
.logo-wrapper > a > img {
    width: 10vw;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}
.catchPhrase {
    font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
}
header > nav > ul {
    display: flex;
    padding: 2vw;
    font-size: 1.5em;
    text-decoration: none;
    list-style: none;
}
header > nav > ul > li {
    padding: 1vw;
}
main {
    max-width: 80% ;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
footer {
    max-width: 80%;
    margin: auto;
    font-size: 0.6em;
}
.bottom-wrapper {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
}
.mini {
    width: 2vw;
}
.maxi {
    width: 5vw;
}
.credits {
    display: flex;
    justify-content: center;
}
.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}