/*STYLE TOUTES PAGES : header et footer*/

html {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo-wrapper > img {
    width: 15%;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}
.catchPhrase {
    font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
}
nav ul {
    display: flex;
    font-size: 1.5em;
    text-decoration: none;
    list-style: none;

}
ul li {
    padding: 1vw;
}
main {
    min-width: 100%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
footer {
    width: 90%;
    margin: auto;
    font-size: 0.6em;
}
.bottom-wrapper {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
}
.mini {
    width: 2vw;
}
.maxi {
    width: 5vw;
}
.credits {
    display: flex;
    justify-content: center;
}
