.breadcrumb {
    padding-bottom: 5vw;
    }
.breadcrumb > ul {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    }
.breadcrumb > ul > li {
    display: inline;
    font-size: 0.8em;
    color: #454442;;
    }  
.breadcrumb > ul > li+li:before {
    padding: 8px;
    color: orange;
    content: "|";
    }
.breadcrumb > ul > li > a {
    color: #0275d8;
    text-decoration: none;
    }
.breadcrumb > ul > li > a:hover {
    color: #01447e;
    text-decoration: underline;
    }
.coverpic {
    max-width: 100%;
}
.mainArticle {
    max-width: 60%;
    margin: auto;
    margin-bottom: 20vh;
}
.horizontalBar {
    width: 70%; 
    margin: auto;
    margin-bottom: 10vh;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
}
.smallTitle {
    margin: auto;
    margin-bottom: 5vh;
    text-align: center;
}
.smallArticles {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6vw;
}
.small > img {
    float: left;
    padding-right: 1vw;
    padding-bottom: 1vh;
}
h2 {
    color: orange;
    max-width: 50%;
}
.fbLink {
    max-width: 100%;
    text-align: center;
}
